@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #92d1fe;
    --color-accent-600: #005580;
    --color-accent-900: #003653;
    --color-accent-950: #00273d;
    /* Generated gray color palettes. */
    --color-gray-100: #f3f7f9;
    --color-gray-200: #e7eff2;
    --color-gray-300: #bac4c8;
    --color-gray-400: #7b8f96;
    --color-gray-500: #495c62;
    --color-gray-700: #2a3b41;
    --color-gray-800: #182a2f;
    --color-gray-900: #121a1c;
}

.actions {
    @apply gap-4;
}

.actions>a {
    @apply rounded-lg;
}

.hero>img {
    @apply rounded-lg;
}

@media print {
    .actions-container {
        display: none !important;
    }

    /* Remove background for code blocks to prevent wrong accessibility flags */
    /* .sl-markdown-content pre,
    .sl-markdown-content pre > code,
    .sl-markdown-content .expressive-code,
    .sl-markdown-content .expressive-code pre,
    .sl-markdown-content .expressive-code code,
    .sl-markdown-content .expressive-code .frame,
    .sl-markdown-content .expressive-code .header {
        background: transparent !important;
        background-image: none !important;
        box-shadow: none !important;
        filter: none !important;
    } */

    /* Keep code background in asides for contrast purposes */
    /* .sl-markdown-content aside pre,
    .sl-markdown-content aside .expressive-code,
    .sl-markdown-content aside .expressive-code .frame {
        background: var(--code-background) !important;
        border: 1px solid #bdbdbd !important;
    } */

    /* Increase contrast of + and - markers for diff code blocks */
    .expressive-code .ec-line.ins .code::before {
        color: var(--color-gray-900) !important;
    }
    .expressive-code .ec-line.del .code::before {
        color: var(--color-gray-900) !important;
    }
}
