---
const asciiData = [
  { dec: 0, hex: "00", char: "\\x00", name: "NUL" },
  { dec: 1, hex: "01", char: "\\x01", name: "SOH" },
  { dec: 2, hex: "02", char: "\\x02", name: "STX" },
  { dec: 3, hex: "03", char: "\\x03", name: "ETX" },
  { dec: 4, hex: "04", char: "\\x04", name: "EOT" },
  { dec: 5, hex: "05", char: "\\x05", name: "ENQ" },
  { dec: 6, hex: "06", char: "\\x06", name: "ACK" },
  { dec: 7, hex: "07", char: "\\x07", name: "BEL" },
  { dec: 8, hex: "08", char: "\\x08", name: "BS (Backspace)" },
  { dec: 9, hex: "09", char: "\\t", name: "HT (Tab)" },
  { dec: 10, hex: "0A", char: "\\n", name: "LF (Line Feed)" },
  { dec: 11, hex: "0B", char: "\\x0B", name: "VT" },
  { dec: 12, hex: "0C", char: "\\f", name: "FF (Form Feed)" },
  { dec: 13, hex: "0D", char: "\\r", name: "CR (Carriage Return)" },
  { dec: 14, hex: "0E", char: "\\x0E", name: "SO" },
  { dec: 15, hex: "0F", char: "\\x0F", name: "SI" },
  { dec: 16, hex: "10", char: "\\x10", name: "DLE" },
  { dec: 17, hex: "11", char: "\\x11", name: "DC1" },
  { dec: 18, hex: "12", char: "\\x12", name: "DC2" },
  { dec: 19, hex: "13", char: "\\x13", name: "DC3" },
  { dec: 20, hex: "14", char: "\\x14", name: "DC4" },
  { dec: 21, hex: "15", char: "\\x15", name: "NAK" },
  { dec: 22, hex: "16", char: "\\x16", name: "SYN" },
  { dec: 23, hex: "17", char: "\\x17", name: "ETB" },
  { dec: 24, hex: "18", char: "\\x18", name: "CAN" },
  { dec: 25, hex: "19", char: "\\x19", name: "EM" },
  { dec: 26, hex: "1A", char: "\\x1A", name: "SUB" },
  { dec: 27, hex: "1B", char: "\\x1B", name: "ESC" },
  { dec: 28, hex: "1C", char: "\\x1C", name: "FS" },
  { dec: 29, hex: "1D", char: "\\x1D", name: "GS" },
  { dec: 30, hex: "1E", char: "\\x1E", name: "RS" },
  { dec: 31, hex: "1F", char: "\\x1F", name: "US" },
  { dec: 32, hex: "20", char: " ", name: "SP" },
  { dec: 33, hex: "21", char: "!", name: "!" },
  { dec: 34, hex: "22", char: "&quot;", name: "&quot;" },
  { dec: 35, hex: "23", char: "#", name: "#" },
  { dec: 36, hex: "24", char: "$", name: "$" },
  { dec: 37, hex: "25", char: "%", name: "%" },
  { dec: 38, hex: "26", char: "&amp;", name: "&amp;" },
  { dec: 39, hex: "27", char: "&apos;", name: "&apos;" },
  { dec: 40, hex: "28", char: "(", name: "(" },
  { dec: 41, hex: "29", char: ")", name: ")" },
  { dec: 42, hex: "2A", char: "*", name: "*" },
  { dec: 43, hex: "2B", char: "+", name: "+" },
  { dec: 44, hex: "2C", char: ",", name: "," },
  { dec: 45, hex: "2D", char: "-", name: "-" },
  { dec: 46, hex: "2E", char: ".", name: "." },
  { dec: 47, hex: "2F", char: "/", name: "/" },
  { dec: 48, hex: "30", char: "0", name: "0" },
  { dec: 49, hex: "31", char: "1", name: "1" },
  { dec: 50, hex: "32", char: "2", name: "2" },
  { dec: 51, hex: "33", char: "3", name: "3" },
  { dec: 52, hex: "34", char: "4", name: "4" },
  { dec: 53, hex: "35", char: "5", name: "5" },
  { dec: 54, hex: "36", char: "6", name: "6" },
  { dec: 55, hex: "37", char: "7", name: "7" },
  { dec: 56, hex: "38", char: "8", name: "8" },
  { dec: 57, hex: "39", char: "9", name: "9" },
  { dec: 58, hex: "3A", char: ":", name: ":" },
  { dec: 59, hex: "3B", char: ";", name: ";" },
  { dec: 60, hex: "3C", char: "&lt;", name: "&lt;" },
  { dec: 61, hex: "3D", char: "=", name: "=" },
  { dec: 62, hex: "3E", char: "&gt;", name: "&gt;" },
  { dec: 63, hex: "3F", char: "?", name: "?" },
  { dec: 64, hex: "40", char: "@", name: "@" },
  { dec: 65, hex: "41", char: "A", name: "A" },
  { dec: 66, hex: "42", char: "B", name: "B" },
  { dec: 67, hex: "43", char: "C", name: "C" },
  { dec: 68, hex: "44", char: "D", name: "D" },
  { dec: 69, hex: "45", char: "E", name: "E" },
  { dec: 70, hex: "46", char: "F", name: "F" },
  { dec: 71, hex: "47", char: "G", name: "G" },
  { dec: 72, hex: "48", char: "H", name: "H" },
  { dec: 73, hex: "49", char: "I", name: "I" },
  { dec: 74, hex: "4A", char: "J", name: "J" },
  { dec: 75, hex: "4B", char: "K", name: "K" },
  { dec: 76, hex: "4C", char: "L", name: "L" },
  { dec: 77, hex: "4D", char: "M", name: "M" },
  { dec: 78, hex: "4E", char: "N", name: "N" },
  { dec: 79, hex: "4F", char: "O", name: "O" },
  { dec: 80, hex: "50", char: "P", name: "P" },
  { dec: 81, hex: "51", char: "Q", name: "Q" },
  { dec: 82, hex: "52", char: "R", name: "R" },
  { dec: 83, hex: "53", char: "S", name: "S" },
  { dec: 84, hex: "54", char: "T", name: "T" },
  { dec: 85, hex: "55", char: "U", name: "U" },
  { dec: 86, hex: "56", char: "V", name: "V" },
  { dec: 87, hex: "57", char: "W", name: "W" },
  { dec: 88, hex: "58", char: "X", name: "X" },
  { dec: 89, hex: "59", char: "Y", name: "Y" },
  { dec: 90, hex: "5A", char: "Z", name: "Z" },
  { dec: 91, hex: "5B", char: "[", name: "[" },
  { dec: 92, hex: "5C", char: "\\\\", name: "\\\\" },
  { dec: 93, hex: "5D", char: "]", name: "]" },
  { dec: 94, hex: "5E", char: "^", name: "^" },
  { dec: 95, hex: "5F", char: "_", name: "_" },
  { dec: 96, hex: "60", char: "`", name: "`" },
  { dec: 97, hex: "61", char: "a", name: "a" },
  { dec: 98, hex: "62", char: "b", name: "b" },
  { dec: 99, hex: "63", char: "c", name: "c" },
  { dec: 100, hex: "64", char: "d", name: "d" },
  { dec: 101, hex: "65", char: "e", name: "e" },
  { dec: 102, hex: "66", char: "f", name: "f" },
  { dec: 103, hex: "67", char: "g", name: "g" },
  { dec: 104, hex: "68", char: "h", name: "h" },
  { dec: 105, hex: "69", char: "i", name: "i" },
  { dec: 106, hex: "6A", char: "j", name: "j" },
  { dec: 107, hex: "6B", char: "k", name: "k" },
  { dec: 108, hex: "6C", char: "l", name: "l" },
  { dec: 109, hex: "6D", char: "m", name: "m" },
  { dec: 110, hex: "6E", char: "n", name: "n" },
  { dec: 111, hex: "6F", char: "o", name: "o" },
  { dec: 112, hex: "70", char: "p", name: "p" },
  { dec: 113, hex: "71", char: "q", name: "q" },
  { dec: 114, hex: "72", char: "r", name: "r" },
  { dec: 115, hex: "73", char: "s", name: "s" },
  { dec: 116, hex: "74", char: "t", name: "t" },
  { dec: 117, hex: "75", char: "u", name: "u" },
  { dec: 118, hex: "76", char: "v", name: "v" },
  { dec: 119, hex: "77", char: "w", name: "w" },
  { dec: 120, hex: "78", char: "x", name: "x" },
  { dec: 121, hex: "79", char: "y", name: "y" },
  { dec: 122, hex: "7A", char: "z", name: "z" },
  { dec: 123, hex: "7B", char: "{", name: "{" },
  { dec: 124, hex: "7C", char: "|", name: "|" },
  { dec: 125, hex: "7D", char: "}", name: "}" },
  { dec: 126, hex: "7E", char: "~", name: "~" },
  { dec: 127, hex: "7F", char: "DEL", name: "DEL" },
];
---

<!-- TODO: have different table viewing options -->
<!-- TODO: have a different printer-friendly version of the table -->
<div class="w-full">
  <table class="w-full divide-y divide-gray-200 h-96 border print:h-full">
    <thead class="bg-accent-600 sticky top-0">
      <tr>
        <th
          class="px-4 py-3 text-left text-xs font-medium uppercase tracking-wider text-white w-1/4"
          >Decimal</th
        >
        <th
          class="px-4 py-3 text-left text-xs font-medium uppercase tracking-wider text-white w-1/4"
          >Hex</th
        >
        <th
          class="px-4 py-3 text-left text-xs font-medium uppercase tracking-wider text-white w-1/4"
          >Char</th
        >
        <th
          class="px-4 py-3 text-left text-xs font-medium uppercase tracking-wider text-white w-1/4"
          >Name</th
        >
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      {
        asciiData.map((item) => (
          <tr class=" hover:bg-accent-100 dark:hover:bg-accent-900">
            <td class="px-4 py-3 whitespace-nowrap font-bold text-sm w-1/4">
              {item.dec}
            </td>
            <td class="px-4 py-3 whitespace-nowrap text-sm w-1/4">
              {item.hex}
            </td>
            <td
              class="px-4 py-3 whitespace-nowrap font-bold text-sm w-1/4"
              set:html={item.char}
            />
            <td class="px-4 py-3 whitespace-nowrap text-sm w-1/4">
              {item.name !== item.char ? item.name : ""}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
